body {
    
    margin: 25px;
    padding: 10px;
    color: #333;
}
header {
    background-color: #fdfdfd;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    margin: 0 15px;
    text-decoration: none;
background-color: aliceblue;
}
.hero {
    background-image: url(./img/Logo.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(167, 64, 64);
    text-align: center;
}
.hero h3 {
    font-size: 60px;
}
.content {
    padding: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: auto;
}
.nail-image {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
}
.nail-image img {
    width: 250px; 
    height:200px; 
    border-radius: 20px; 
    margin-right: 15px; 
}
.pie{
    margin-top: 100px;
    width:100% ;
    height: 100px;
    display: flex;
    flex-direction:column;
    align-items:center ;
    justify-content: center;
    background-color: rgb(152, 163, 172);
}